name: Déploiement du site web

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Récupération du code
        uses: actions/checkout@v4

      - name: Préparer artifact pour GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./

      - name: Déployer sur GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
